<h1>Welcome to Quoting Dojo</h1>
<form action="/create" method="POST">
    Your name: <input type="text" name="author" placeholder="Your Name"><br><br>
    Your quote: <br><textarea name="content" cols="12" rows="7" placeholder="Enter a quote"></textarea><br><br>
    <input type="submit" value="Add my quote!">
</form>
<a href="/quotes">Skip to Quotes</a>